<div class="col-lg-4 mb-5">
    <div id="card" class="card h-100 shadow border-0">
        <div class="card-body">
            <strong class="d-inline-block mb-2" style="color: #8338EC;">News</strong>
            <span class="card-text">
                <small class="text-muted">par {{une.author}}</small>
            </span>
            <h4 class="text-muted">Le {{une.start | date('d/m/Y')}}</h4>
            <h4 class="card-title">{{une.title}}</h4>
            <hr>
            <div class="mb-4">
                <a href="{{une.url}}" class="btn btn-outline-secondary" target="_blank">Consulter la news &raquo;</a>
                {% if app.user and app.user == une.author %}
                    <a href="{{ path ('une_edit', {'slug': une.slug}) }}" class="btn btn-outline-warning">Modifier la news</a>
                    <a href="{{ path ('une_delete', {'slug': une.slug}) }}" class="btn btn-outline-danger mt-1"
                    onclick="return confirm(`Etes vous sur de vouloir supprimer l'article : {{une.title}} ?`)"
                    >Supprimer la news</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>